.biggest {
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 2vw;
    font-family: sans-serif;
    
}
.percentage {
    width: 80vw;
    height: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.percentage-complete {
    width: 20%;
    height: 0.5vw;
    background-color: aquamarine;
}

form {
    width: 75vw;
    height: auto;
    margin-top: 3vw;
    
}
.optionss {
    margin-top: 2vw;
}
.optionss-label {
    width: 40vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(204, 192, 192);
    margin-bottom: 1vw;
    
}
.optionss-label img {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1vw;
}
.headder {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headder label {
    font-size: 2.2vw;
    font-weight: 500;
}
.headder p {
    color: gray;
}
.optionss {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.optionss-label input[type="checkbox"] {
    display: none; 
  }

  .inactivated-button {
    margin-left: 45%;
    margin-top: 1vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    background-color: rgb(230, 217, 217);
    font-weight: 700;
    color: white;
    border: 1px solid gainsboro;
    cursor: pointer;
    border-radius: 5px;
  }

  .selected {
    border: 2px solid green;
  }

  .activated-button {
    margin-left: 45%;
    margin-top: 1vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    background-color:black;
    font-weight: 700;
    color: white;
    border: 1px solid gainsboro;
    cursor: pointer;
    border-radius: 5px;
  }
  .optionss-label span span {
    color: gray;
  }

  @media only screen and (max-width: 500px) {
    .biggest {
        width: 95vw;
    }
    .percentage {
        margin-top: 10vw;
        width: 95vw;
        height: 2vw;
    }
    .percentage-complete {
        width: 20%;
        height: 2vw;
    }
    form {
        width: 95vw;
        margin-top: 5vw;
    }
    .optionss {
        margin-top: 7vw;
    }
    .optionss label {
        width: 80vw;
        height: 15vw;
        gap: 3vw;
        margin-bottom: 5vw;
    }
    .optionss-label img {
        width: 12vw;
        height: 12vw;
        margin-left: 3vw;
    }
    .headder {
        text-align: center;
    }
    .headder label {
        font-size: 6vw;
        margin-top: 5vw;
    }
    .headder p {
        font-size: 3vw;
    }
    .inactivated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
    .activated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
  }

  @media only screen and (max-width: 777px) {
    .biggest {
        width: 95vw;
    }
    .percentage {
        margin-top: 10vw;
        width: 95vw;
        height: 2vw;
    }
    .percentage-complete {
        width: 20%;
        height: 2vw;
    }
    form {
        width: 95vw;
        margin-top: 5vw;
    }
    .optionss {
        margin-top: 7vw;
    }
    .optionss label {
        width: 80vw;
        height: 15vw;
        gap: 3vw;
        margin-bottom: 5vw;
    }
    .optionss-label img {
        width: 12vw;
        height: 12vw;
        margin-left: 3vw;
    }
    .headder {
        text-align: center;
    }
    .headder label {
        font-size: 6vw;
        margin-top: 5vw;
    }
    .headder p {
        font-size: 3vw;
    }
    .inactivated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
    .activated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    .biggest {
        width: 95vw;
    }
    .percentage {
        margin-top: 10vw;
        width: 95vw;
        height: 2vw;
    }
    .percentage-complete {
        width: 20%;
        height: 2vw;
    }
    form {
        width: 95vw;
        margin-top: 5vw;
    }
    .optionss {
        margin-top: 7vw;
    }
    .optionss label {
        width: 80vw;
        height: 15vw;
        gap: 3vw;
        margin-bottom: 5vw;
    }
    .optionss-label img {
        width: 12vw;
        height: 12vw;
        margin-left: 3vw;
    }
    .headder {
        text-align: center;
    }
    .headder label {
        font-size: 6vw;
        margin-top: 5vw;
    }
    .headder p {
        font-size: 3vw;
    }
    .inactivated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
    .activated-button {
        width: 25vw;
        height: 10vw;
        font-size: 5vw;
        margin-left: 25vw !important;
        margin-top: 5vw;
        padding: 1vw;
        margin-bottom: 5vw;
    }
    .optionss-label span {
        font-size: 4vw;
    }
  }

